@use "../../foundation" as *;

.p-game {
    display: flex;
    position: relative;
    overflow: scroll;
    justify-content: center;
    align-items: flex-start;

    flex-direction: row;

    &.-no-overflow {
        overflow: hidden;
    }

    &__start-button {
        width: 50px;
        position: absolute;
        right: 70px;
        top: 10px;

        &.-start {
            left: 50%;
            top: 50%;
            translate: -50% -50%;
        }

        &.-inactive {
            display: none;
        }
    }

    &__pause-button {
        width: 50px;
        position: absolute;
        right: 10px;
        top: 10px
    }

    &__input {
        width: 200px;
        height: 40px;
    }

    &__span {
        margin-top: 10px;
        font-size: $fs-text;
    }

    &__canvas-container {
        flex-grow: 1;
    }

    &__result {
        background-color: $white;
        position: absolute;
        z-index: 3;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 500px;
        height: 300px;

        top: 50%;
        left: 50%;
        translate: -50% -50%;

    }

    &__result-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: $fs-title;
        cursor: pointer;
    }

    &__policy-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
    }

    &__policy_button {}
}