@use "../../../foundation" as *;

.p-score-input {
    &__result-input {
        width: 200px;
        height: 30px;

        &::placeholder {
            color: $dark-gray;
        }

        &:disabled {
            color: $gray;
            border: 1px solid $gray;

            &::placeholder {
                color: $gray;
            }
        }
    }

    &__feedback-input {
        width: 200px;
        height: 100px;
        border-radius: 5px;
        border: 1px solid $black;
        padding: 10px;
        text-align: left;

        &::placeholder {
            color: $dark-gray;
        }

        &:disabled {
            color: $gray;
            border: 1px solid $gray;

            &::placeholder {
                color: $gray;
            }
        }
    }

    &__result-submit {
        width: 200px;
        height: 30px;

        background-color: transparent;
        color: $black;
        border: 1px solid $black;

        &:disabled {
            color: $gray;
            border: 1px solid $gray;
        }
    }
}